# Compiled Object files
*.slo
*.lo
*.o
*.o.cmd

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#
*~
*.orig
*.py
*.pyc
GPATH
GRTAGS
GTAGS
GSYMS
__pycache__

.cproject
.project

.DS_Store

*.swp
